{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/header.css' %}"/>
<div>
    <h1>衣服店</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active "><a href="{% url 'index' %}">首页</a></li>
        <li role="presentation">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">男装<span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>分类</li>
                {% for cat in CATEGORY %}
                    {% if cat.sex == 1 %}
                        <li><a href="#">{{ cat.name }}</a></li>
                    {% endif %}
                {% endfor %}
                <li>品牌</li>
                {% for b in BRAND_MAN %}
                    <li><a href="{% url 'brand' %}?bid={{ b.brand }}">{{ b.brand__name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li role="presentation" id="li_woman" class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" href="#"
               role="button" aria-haspopup="true"
               aria-expanded="false">女装<span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>分类</li>
                {% for cat in CATEGORY %}
                    {% if cat.sex == 0 %}
                        <li><a href="#">{{ cat.name }}</a></li>
                    {% endif %}
                {% endfor %}
                <li>品牌</li>
                {% for b in BRAND_WOMAN %}
                    <li><a href="brand/{{ b.brand }}">{{ b.brand__name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li role="presentation"><a href="#">品牌</a></li>
        <li role="presentation"><a href="#">标签</a></li>
    </ul>
    {#    <div>#}
    {#        <div id="man">#}
    {#            <div>#}
    {#                <h3>男装分类</h3>#}
    {#                {% for cat in CATEGORY %}#}
    {#                    {% if cat.sex == 1 %}#}
    {#                        <a href="#">{{ cat.name }}</a>#}
    {#                    {% endif %}#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#            <div>#}
    {#                <h3>品牌</h3>#}
    {#                {% for b in BRAND_MAN %}#}
    {#                    <a href="brand/{{ b.brand }}">{{ b.brand__name }}</a>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div id="woman">#}
    {#            <div>#}
    {#                <h3>女装分类</h3>#}
    {#                {% for cat in CATEGORY %}#}
    {#                    {% if cat.sex == 0 %}#}
    {#                        <a href="#">{{ cat.name }}</a>#}
    {#                    {% endif %}#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#            <div>#}
    {#                <h3>品牌</h3>#}
    {#                {% for b in BRAND_WOMAN %}#}
    {#                    <a href="brand/{{ b.brand }}">{{ b.brand__name }}</a>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    </div>#}
</div>



