{% extends 'base.html' %}
{% load staticfiles %}
{% block cssjs %}
{% endblock cssjs %}
{% load staticfiles %}
{% load extras %}
{% block content %}

    <div>
        <h1>购物车</h1>
        {% if cart %}
            <table>
                <tr>

                    <th>结算否</th>
                    <th>商品</th>
                    <th>尺寸颜色</th>
                    <th>数量</th>
                    <th>原价</th>
                    <th>现价</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                {% for item in cart %}
                    <tr>
                        <td><a href="{% url 'cart'%}?act={{ item.selected }}&cartid={{ item.pk }}"> {% if item.selected%}结算{% else %}不结算{% endif %}</a></td>
                        <td><a href="{% url 'product' %}?pid={{ item.goodsku.good.id }}"><img
                                src="{{ MEDIA_URL }}{{ item.goodsku.image }}" alt=""></a>
                            <h5>{{ item.goodsku.good }}</h5>
                        </td>
                        <td>{{ item.goodsku }}</td>
                        <td><a href="{% url 'cart' %}?act=sub&cartid={{ item.pk }}">-</a>{{ item.count }}<a
                                href="{% url 'cart' %}?act=add&cartid={{ item.pk }}">+</a>  <span>(库存:{{ item.goodsku.num }})</span></td>
                        <td style="text-decoration:line-through">{{ item.goodsku.old_price }}元</td>
                        <td>{{ item.goodsku.new_price }}元</td>
                        <td>{{ item.sum_price }}元</td>
                        <td><a href="{% url 'cart' %}?act=del&cartid={{ item.pk }}">删除</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><a href="{% url 'checkout' %}">去结算</a>
                        &nbsp;&nbsp;&nbsp;总价：{{ cart.total_price }}元
                    </td>
                </tr>
            </table>
        {% else %}
            <h3>还没有添加商品!</h3>
        {% endif %}
    </div>

{% endblock %}
