{% extends 'base.html' %}
{% load staticfiles %}
{% block cssjs %}
    <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
{% endblock cssjs %}
{% load staticfiles %}
{% load extras %}
{% block content %}
    {% product_detail p %}
{% endblock %}
