{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div>
        <div>
            <h1>注册</h1>

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div>
                    <div>
                        <span>用户名</span>
                        {{ reg_form.username }}
                        {{ reg_form.errors.username }}
                        <span>邮箱</span>
                        {{ reg_form.email }}
                        {{ reg_form.errors.email }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <div>
                        <span>密码</span>
                        {{ reg_form.password }}

                        <span>确认密码</span>
                        {{ reg_form.confirm_password }}
                        {{ reg_form.errors.password }}
                    </div>
                </div>
                {% if is_verify %}
                    <span>验证码</span>
                    <input type="text" name="verify_text" value=""><img src="/verify/" alt="" id="verifyImg"/>
                    {{ verifyError }}
                {% endif %}

                <div class="clearfix"></div>
                <div>
                    <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
                    <input type="submit" value="注册">

                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}